.card-img-top{
    height: 40vh;
}

.single{
    /* display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0; */
    margin-top: 10%;
}

.textAlign{
    text-align: left;
}

.spinner-border{
    width: 6rem !important; 
    height: 6rem !important;
    position: absolute;
    top: 30%;
}

.card{
 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 5px;
}

/* .cards:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    cursor: pointer;
  } */